#page {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: cornflowerblue;
    font-size: 20px;
    
}
.title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    
}
nav ul li {
    display: inline;
    padding-inline-start: 30px;
}
img {
    width: 100%;
    max-width: 100%;
}
p{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

footer{
    text-align: center;
}